h1 {
  color: pink;
}

.holder {
  position: relative;
  display: block;
  width: 95%;
  height: 90%;
  margin-top: 55px;
  padding: 1px;
  background-color: grey;
  border-style: groove;
  border-color: white;
  overflow: scroll;
  z-index: 1;
}

.album {
  width: 99%;
  overflow: scroll;
  background-color: white;
  border-style: solid;
  border-color: pink;
  margin: auto;
  padding: 2px;
  z-index: 2;
}

.albumT {
  color: blue;
  font-size: 19px;
  border-style: solid;
  cursor: pointer;
}

.cHolder {
  width: 155px;
  float: left;
  display: block;
  margin: 15px;
}

.button {
  display: block;
  margin: 5px;
  width: 115px;
  background-color: gray;
  border-style: solid;
  text-decoration: none;
}

.card {
  position: relative;
  float: left;
  display: block;
  width: 150px;
  height: 250px;
  background-color: black;
  margin: 5px;
  z-index: 2;
  opacity: 3;
}

.card:hover {
  display: block;
  width: 250px;
  height: 350px;
  background-color: black;
  z-index: 3;
  margin: 10px;
}

.topper {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: red;
  opacity: 0.4;
  margin-bottom: 50px;
  border-style: solid;
  z-index: 2;
}

.grid {
  float: left;
  margin-top: 25px;
}

.dropmenu {
  position: fixed;
  margin-top: 82px;
  width: 150px;
  border-style: groove;
  overflow: scroll;
  z-index: 1;
}

.minyDrop {
  color: red;
  border-style: solid;
  margin: 5px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

.gameMenu {
  display: block;
  width: 100%;
  height: 80px;
  margin: 5px;
  overflow: scroll;
}
.gameLink {
  float: left;
  text-decoration: none;
  border-style: groove;
  background-color: white;
  color: blue;
  margin: 10px;
}
