wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  filter: opacity(78%);
  z-index: -1;
  overflow: scroll;
}

.wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 5;
  margin-top: -1px;
  margin-left: -0.5;
  z-index: 1;
  opacity: 2;
}

h1 {
  font-style: italic;
  color: #373fff;
}

tool {
  float: left;
  margin-right: 5px;
  cursor: pointer;
  margin-left: 5px;
}

article {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
  padding: 2px;
  border-style: groove;
  border-radius: 25px 25px 25px 25px;
  width: 80%;
}

button {
  background-color: orange;
  color: black;
  border-radius: 10%;
  margin: 10px;
  padding: 1px;
  font-weight: bolder;
  border-radius: 11px 11px 11px 11px;
}

button:hover {
  background-color: blue;
  color: white;
  border-radius: 10%;
  margin: 10px;
  padding: 1px;
  font-weight: bolder;
  border-radius: 11px 11px 11px 11px;
  cursor: pointer;
}
.ALERT {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.X {
  float: right;
  margin: 3px;
  padding: 2px;
  border-style: solid;
}

.white {
  color: white;
  width: 75%;
  display: block;
}

.quick {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 3px;
  width: 32px;
  height: 32px;
  border-style: groove;
  border-radius: 20px 0px 00px 20px;
  background-color: blue;
  cursor: pointer;
  background-image: url("https://cdn.glitch.global/4d28a5f0-4bec-4873-9059-3319b8398254/1669052080420.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
}

.quicker {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 3px;
  width: 15rem;
  height: 36px;
  border-style: groove;
  border-radius: 20px 0px 00px 20px;
  background-color: blue;
  background-repeat: no-repeat;
  z-index: 3;
}

.home {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 3px;
}
.gamepad {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.lightning {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.browser {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.grid {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 3px;
}

.rewards-intro {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 5rem;
  padding: 2px;
  border-style: groove;
  border-radius: 25px 25px 25px 25px;
  width: 80%;
}

.tokensplash {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.tokenbutton {
  position: absolute;
  border-style: groove;
  border-color: silver;
  background-color: blue;
  color: gold;
  top: 0;
  right: 0;
  margin-top: 5.2rem;
  margin-right: 7rem;

  cursor: pointer;
  z-index: 7;
}

.hide {
  display: none;
}

.display {
  display: block;
  overflow: scroll;
}

.overflow {
  overflow: scroll;
}

.helper {
  margin-top: 5%;
  margin-left: 85%;
  width: 30px;
  height: 30px;
  color: red;
  font-size: 15px;
  cursor: pointer;
}

.preview {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

.float-right {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  border-style: solid;
  font-size: 35px;
  text-align: center;
  z-index: 3;
  cursor: pointer;
}
.float-left {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  border-style: solid;
  font-size: 35px;
  text-align: center;
  z-index: 3;
  cursor: pointer;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 2;
  opacity: 2;
  background-color: black;
  filter: opacity(60%);
}

.splashapp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 2;
  opacity: 2;
  background-color: green;
}

.airdrop {
  position: relative;
  display: block;
  width: 90%;
  height: 200px;
}

.clickminer {
  color: green;
  background-color: gold;
  width: 50%;
  border-style: groove;
  border-radius: 30px 30px 30px 30px;
}

.shopicon {
  float: left;
  display: block;
  border-style: none;
  width: 30px;
  height: 30px;
  margin: 3px;
  background-image: url("https://cdn.glitch.global/4d28a5f0-4bec-4873-9059-3319b8398254/1669065937567.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  background-color: pink;
  z-index: 5;
}

.shopbtn {
  width: 150px;
  background-color: silver;
  text-align: center;
  background-color: silver;
  color: black;
}