.slot {
  position: relative;
  margin: 50px;
  display: block;
  width: 40rem;
  height: 25rem;
  border-style: solid;
  border-color: black;
}

.slotitem {
  float: left;
  margin: -1px;
  padding: 0.5px;
  display: block;
  border-style: groove;
  width: 6.352rem;
  height: 6.32rem;
}


.highlight {
  float: left;
  margin: -1px;
  padding: 0.5px;
  display: block;
  border-style: groove;
  width: 6.352rem;
  height: 6.32rem;
  background-color: yellow;
}



.spin {
  width: 20%;
  height: 3rem;
  margin: 30px;
  background-color: gold;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
