wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
  z-index: -1;
}

.playerOne {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 155px;
  background-color: transparent;
  opacity: 0.6;
  z-index: 0;
}

.playerTotal {
  float: left;
  display: block;
  border-style: groove;
  border-color: white;
  color: yellow;
  background-color: pink;
  margin-top: -45px;
  margin-left: 25px;
}
.playerTotals {
  float: left;
  display: block;
  border-style: groove;
  border-color: white;
  color: red;
  background-color: pink;
  margin-top: -45px;
  margin-left: 100px;
}

.manergy {
  float: right;
  display: block;
  width: 100px;
  border-style: groove;
  border-color: white;
  color: black;
  background-color: yellow;
  margin-left: 155px;
  margin-top: -45px;
}

.life {
  float: right;
  display: block;
  width: 100px;
  border-style: groove;
  border-color: white;
  color: black;
  background-color: yellow;
  margin-left: 155px;
  margin-top: -65px;
}

.card {
  float: left;
  display: block;
  width: 80px;
  height: 150px;
  background-color: black;
  margin-right: -15%;
  margin-bottom: 15px;
  margin-left: 20%;
  z-index: 2;
  opacity: 3;
}

.card:hover {
  float: left;
  display: block;
  width: 150px;
  height: 250px;
  background-color: black;
  margin-right: -25px;
  margin-bottom: 35px;
  margin-top: -115px;
  z-index: 2;
  opacity: 3;
}
.playcard {
  float: left;
  display: block;
  width: 80px;
  height: 150px;
  background-color: black;
  margin-right: 10%;
  margin-bottom: 0%;
  margin-left: -8%;
  z-index: 2;
  opacity: 3;
}

.playboard {
  margin: 10%;
  padding: 5px;
}

.battlebutton {
  float: left;
  margin-top: 15%;
  margin-right: 10%;
  margin-bottom: 0%;
  margin-left: -8%;
  clear: both;
  cursor: pointer;
  border-style: groove;
  background-color: red;
  color: white;
}

.hide {
  display: none;
}
